<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FoxRestAPISuite">
<listeners>
	<listener class-name="com.foxapi.utilities.Listeners" />
</listeners>
	<test thread-count="5" name="FoxRestAPITest">
		<classes>
			<class name="com.foxapi.testCases.TC001_REG_user" />
			<class name="com.foxapi.testCases.TC002_LOGIN_user" />
			<class name="com.foxapi.testCases.TC003_RESET_password" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
